/* * {
  border: 1px solid red;
} */
body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}
.applicationHeader {
  background-color: #00284d;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.headerName {
  color: white;
  margin-left: 20%;
  text-align: center;
  background-color: #00284d;
  font-weight: bold;
  font-family: arial, sans-serif;
}
a:link {
  text-decoration: none;
}

#loginButton, #logoutButton {
  width: 70px;
  height: 27px;
  vertical-align: center;
  text-align: center;
  background-color: #ff6600;
  margin: 1.5%;
  margin-right: 20%;
  cursor: pointer;
}
#loginButton:hover, #logoutButton:hover {
  background-color: #e65c00;
}
.mainSection1 {
  display: flex;
  background-color: white;
  width: 60%;
  height: 70%;
  margin: auto;
  margin-top: 50px;
  border: 1px inset darkgray;
}
.mainSection2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60%;
  height: 70%;
  margin: auto;
  margin-top: 50px;
  border: 1px inset darkgray;
}
.mainLoginSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40%;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  border: 1px inset darkgray;
}
.signInButtons {
  display: flex;
  justify-content: center;
}
h2 {
  color: #00284d;
  margin-top: 10px;
}
.categoryList, .itemsList, .addItemAndRecentItems {
  width: 400px;
  height: 75%;
  margin: .5%;
  padding: .5%;
  vertical-align: top;
}
.nameAndDescription, .editItem, .addItem, .deleteItem, .editAndDeleteButton {
  margin: .5%;
  padding: .5%;
}
.itemsList, .addItemAndRecentItems {
  border-left: 1px solid lightgray;
  padding-left: 30px;
}
.categoryList {
  width: 150px;
}
.itemsList {
}
.recentItemsList {
}
.categoryName, .itemName, .itemNameCategory {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.categoryName:hover, .itemName:hover, .itemNameCategory:hover {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
a.itemLink:link, a.categoryLink:link, a.recentItemLink:link {
  color: #e65c00;
}
a.itemLink:visited, a.categoryLink:visited, a.recentItemLink:visited {
  color: #e65c00;
}
a.loginLink:link, a.loginLink:visited, a.logoutLink:link, a.logoutLink:visited {
  color: white;
}
.categoryLinkRecentItems {
  font-style: italic;
  margin-left: 2%;
  color: gray;
}
.itemLink {
  display: flex;
  flex-direction: row;
}
p, h1, h2, h3, a {
  font-family: Verdana, arial, sans-serif;
}
h1, h2 {
  font-weight: bold;
}
p, a {
}
#fbsigninButton {
  height: 30px;
  margin: 2%;
}
#googleSigninButton {
  margin: 2%;
}
