<html>
  <head>
    <title>Add New Item</title>
    <link rel='stylesheet' type='text/css' href='/static/styles.css'>
  </head>
  <body>
    <header class='applicationHeader'>
      <a href='{{url_for('showCategories')}}' class='headerName'>
        <h1>Catalog Application</h1>
      </a>
      <button type='button' onclick="location.href='{{url_for('disconnect')}}';"
        id='logoutButton'>
        <a href='{{url_for('disconnect')}}' class='logoutLink'>Logout</a>
      </button>
    </header>
    <section class='mainSection2'>
      <div class='addItem'>
        <h2>Create New Item</h2>
        <form action='{{url_for('newItem')}}' method='post'>
          <p>Name:</p>
          <input type='text' size='30' name='name'>
          <p>Description:</p>
          <textarea type='text' rows='5' cols='40' name='description'></textarea>
          <p>Category</p>
          <select name='categorySelection'>
            {% for c in categories %}
              <option value='{{c.id}}'>{{c.name}}</option>
            {% endfor %}
            <input type='submit' value='Create'>
            <a href='{{url_for('showCategories')}}'>Cancel</a>
          </form>
      </div>
    </section>
  </body>
</html>
