<html>
  <head>
    <title>Item Catalog</title>
  </head>
  <body>
    <header class='categoryListHeader'>
      <h1>Catalog Application</h1>
    </header>
    <div class='categoryList'>
      <h2 id='categoryListTitle'>Categories</h2>
      {% if categories == [] %}
        <h3>No Categories Listed</h3>
      {% else %}
        {% for c in categories %}
          <div class='categoryName'>
            <span class='name'>
              <a href='{{url_for('showCategory',current_category = c.name,)}}'>
                <p>{{c.name}}</p>
              </a>
            </span>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class=itemsList>
      {% for cat in category %}
        <h2 id='itemTitle'>{{cat.name}} Items</h2>
      {% endfor %}
      <!-- Insert code for the recently added item list -->
      {% if items == [] %}
        <h3>No Items in Category</h3>
      {% else %}
        {% for i in items %}
          <div class='itemName'>
            <span class='name'><p>{{i.name}}</p></span>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
