<html>
  <head>
    <title>Item Catalog</title>
    <link rel='stylesheet' type='text/css' href='/static/styles.css'>
  </head>
  <body>
    <header class='applicationHeader'>
      <h1 title='Catalog Application'>Catalog Application</h1>
      <button id='logoutButton' title='Logout'>
        <a href='{{url_for('disconnect')}}'>Logout</a>
      </button>
    </header>
    <section class='mainSection'>
      <div class='categoryList'>
        <h2 id='categoryListTitle' title='Categories'>Categories</h2>
        {% if categories == [] %}
          <h3>No Categories Listed</h3>
        {% else %}
          {% for c in categories %}
            <div class='categoryName'>
              <span class='name'>
                <a href='{{url_for('showCategory',current_category = c.name,)}}'>
                  <p>{{c.name}}</p>
                </a>
              </span>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class='addItemAndRecentItems'>
        <a href='{{url_for('newItem')}}'>Add Item</a>
        <div class='recentItemsList'>
          <h2 id='recentItemsTitle'>Recent Items</h2>
          {% if items == [] %}
            <h3>No Items</h3>
          {% else %}
            {% for i in items %}
              <div class='itemName'>
                <a href='{{url_for('showItem', current_category = i.1,
                  current_item = i.0)}}'>
                  <span class='name'><p>{{i.0}} ({{i.1}})</p></span>
                </a>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>
  </body>
</html>
