<html>
  <head>
    <title>Item Catalog</title>
    <link rel='stylesheet' type='text/css' href='/static/styles.css'>
  </head>
  <body>
    <header class='applicationHeader'>
      <a href='{{url_for('showCategories')}}' class='headerName'>
        <h1>Catalog Application</h1>
      </a>
      <button type='button' onclick="location.href='{{url_for('disconnect')}}';"
        id='logoutButton'>
        <a href='{{url_for('disconnect')}}' class='logoutLink'>Logout</a>
      </button>
    </header>
    <section class='mainSection1'>
      <div class='categoryList'>
        <h2 id='categoryListTitle'>Categories</h2>
        {% if categories == [] %}
          <h3>No Categories Listed</h3>
        {% else %}
          {% for c in categories %}
            <div class='categoryName'>
              <a href='{{url_for('showCategory',
                current_category = c.name,)}}' class='categoryLink'>
                <span class='name'><p>{{c.name}}</p></span>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class='addItemAndRecentItems'>
        <a href='{{url_for('newItem')}}'>Add Item</a>
        <div class='recentItemsList'>
          <h2 id='recentItemsTitle'>Recent Items</h2>
          {% if items == [] %}
            <h3>No Items</h3>
          {% else %}
            {% for i in items %}
              <div class='itemNameCategory'>
                <a href='{{url_for('showItem', current_category = i.1,
                  current_item = i.0)}}' class='itemLink'>
                  <span class='name'><p>{{i.0}}</p></span>
                  <span class='categoryLinkRecentItems'><p> ({{i.1}})</p></span>
                </a>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>
  </body>
</html>
