<html>
  <head>
    <title>Item Catalog</title>
  </head>
  <body>
    <header class='categoryListHeader'>
      <a href='{{url_for('showCategories')}}'><h1>Catalog Application</h1></a>
      <!-- insert code for user info here. -->
    </header>
    <div class='categoryList'>
      <h2 id='categoryListTitle'>Categories</h2>
      {% if categories == [] %}
        <h3>No Categories Listed</h3>
      {% else %}
        {% for c in categories %}
          <div class='categoryName'>
            <span class='name'>
              <a href='{{url_for('showCategory',current_category = c.name,)}}'>
                <p>{{c.name}}</p>
              </a>
            </span>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class=itemsList>
      <h2 id='itemTitle'>{{category}} Items</h2>
      {% if items == [] %}
        <h3>No Items</h3>
      {% else %}
        {% for i in items %}
          <div class='itemName'>
            <a href='{{url_for('showItem', current_category = category,
              current_item = i.name)}}'
              <span class='name'><p>{{i.name}}</p></span>
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
