<html>
  <head>
    <title>Delete Item</title>
    <link rel='stylesheet' type='text/css' href='/static/styles.css'>
  </head>
  <body>
    <header class='applicationHeader'>
      <h1>Catalog Application</h1>
      <button id='logoutButton' value='Login'>
        <a href='{{url_for('disconnect')}}'>Logout</a>
      </button>
    </header>
    <section class='mainSection'>
      <h2>Delete Item</h2>
      <form action='{{url_for('deleteItem', current_item=item.name)}}'
        method='post'>
        <p>Are you sure you want to delete {{item.name}}</p>
        <input type='submit' value='Delete'>
        <a href='{{url_for('showItem', current_category = category.name,
          current_item = item.name)}}'>Cancel</a>
      </form>
    </section>
  </body>
</html>
