<html>
  <head>
    <title>Edit Item</title>
    <link rel='stylesheet' type='text/css' href='/static/styles.css'>
  </head>
  <body>
    <header class='applicationNameHeader'>
      <h1>Catalog Application</h1>
      <a href='{{url_for('disconnect')}}'>Logout</a>
    </header>
    <h2>Edit Item</h2>
    <form action='{{url_for('editItem', current_item=item.name)}}'
      method='post'>
      <p>Name:</p>
      <input type='text' maxlength="100" name='name'
        value='{{item.name}}'>
      <p>Description:</p>
      <textarea type='text' maxlength="250" rows='5' cols='40'
        name='description'>{{item.description}}</textarea>
      <p>Category</p>
      <select name='categorySelection'>
        {% for c in categories %}
          <option value='{{c.id}}'
            {% if category.name == c.name %}selected{% endif %}>
            {{c.name}}</option>
        {% endfor %}
      <input type='submit' value='Update'>
      <a href='{{url_for('showItem', current_category = category.name,
        current_item = item.name)}}'>Cancel</a>
    </form>
  </body>
</html>
