<html>
  <head>
      <title>{{item.name}}</title>
  </head>
  <body>
    <header class='applicationNameHeader'>
      <a href='{{url_for('showCategories')}}'><h1>Catalog Application</h1></a>
      <!-- <a href="">Logout </a> -->
      <!-- Insert code for user info here -->
    </header>
    <div class="nameAndDescription">
      <h2>{{item.name}}</h2>
      <p>{{item.description}}</p>
    </div>
    <div class="editAndDeleteButton">
      <a href='{{url_for('editItem', current_item = item.name)}}'>Edit</a>
      <a href='{{url_for('deleteItem', current_item = item.name)}}'>Delete</a>
    </div>
  </body>
</html>
