<html>
  <head>
      <title>{{item.name}}</title>
      <link rel='stylesheet' type='text/css' href='/static/styles.css'>
  </head>
  <body>
    <header class='applicationHeader'>
      <a href='{{url_for('showCategories')}}' class='headerName'>
        <h1>Catalog Application</h1>
      </a>
      <button type='button' onclick="location.href='{{url_for('disconnect')}}';"
        id='logoutButton'>
        <a href='{{url_for('disconnect')}}' class='logoutLink'>Logout</a>
      </button>
    </header>
    <section class='mainSection2'>
      <div class="nameAndDescription">
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
      </div>
      <div class="editAndDeleteButton">
        <a href='{{url_for('editItem', current_item = item.name)}}'>Edit</a>
        <a href='{{url_for('deleteItem', current_item = item.name)}}'>Delete</a>
      </div>
    </section>
  </body>
</html>
