<html>
  <head>
    <title>Item Catalog</title>
    <link rel='stylesheet' type='text/css' href='/static/styles.css'>
  </head>
  <body>
    <header class='applicationHeader'>
      <a href='{{url_for('showCategories')}}' class='headerName'>
        <h1>Catalog Application</h1>
      </a>
      <button type='button' onclick="location.href='{{url_for('showLogin')}}';"
        id='loginButton'>
        <a href='{{url_for('showLogin')}}' class='loginLink'>Login</a>
      </button>
    </header>
    <section class='mainSection1'>
      <div class='categoryList'>
        <h2 id='categoryListTitle'>Categories</h2>
        {% if categories == [] %}
          <h3>No Categories Listed</h3>
        {% else %}
          {% for c in categories %}
            <div class='categoryName' id='{{c.name}}'>
              <a href='{{url_for('showCategory',
                current_category = c.name,)}}' class='categoryLink'>
                <span class='name'><p>{{c.name}}</p></span>
              </a>
            </div>
          {% endfor %}
        {% endif %}
        <script>
          document.getElementById('{{category}}').style.fontWeight = 'bold'
        </script>
      </div>
      <div class=itemsList>
        <h2 id='itemTitle'>{{category}} Items</h2>
        {% if items == [] %}
          <h3>No Items</h3>
        {% else %}
          {% for i in items %}
            <div class='itemName'>
              <a href='{{url_for('showItem', current_category = category,
                current_item = i.name)}}' class='itemLink'>
                <span class='name'><p>{{i.name}}</p></span>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </section>
  </body>
</html>
