<html>
  <head>
      <title>{{item.name}}</title>
      <link rel='stylesheet' type='text/css' href='/static/styles.css'>
  </head>
  <body>
    <header class='applicationHeader'>
      <a href='{{url_for('showCategories')}}'><h1>Catalog Application</h1></a>
      <button id='loginButton' value='Login'>
        <a href='{{url_for('showLogin')}}'>Login</a>
      </button>
    </header>
    <section class='mainSection'>
      <div class="nameAndDescription">
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
      </div>
    </section>
  </body>
</html>
